:root {
    --primary-color: #4ADF86;
    --offbrand-green-color: #10B981;
    --background-color: #1C1C1C;
    --main-container-color: #1F2937;
    --white-color: #FFFFFF;
    --medium-gray-color: #D5D4D8;
    --divisor-color: #2F3E53;
}

body {
    font-family: Karla, sans-serif;
    background-color: var(--background-color);
    color: var(--white-color);
    letter-spacing: -0.2px;
}

.title {
    font-weight: 900;
    margin: 0;
    font-size: 2.5rem;
}

.subtitle {
    margin: 10px 0;
    color: var(--medium-gray-color);
    font-size: 1.2rem;
}

.title .highlight {
    display: block;
}

#main-container {
    background: var(--main-container-color);
    margin: 50px;
    padding: 100px 20px 10px 50px;
}

.highlight {
    color: var(--primary-color);
}

#generate-pw-btn {
    background-color: var(--offbrand-green-color);
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: var(--white-color);
    margin: 30px 0;
    font-size: 0.9rem;
}

hr {
    height: 2px;
    background-color: var(--divisor-color);
    border: none;
}