:root {
    --primary-color: #4ADF86;
    --secondary-color: #10B981;
    --background-color: #1C1C1C;
    --main-container-color: #1F2937;
    --title: #FFFFFF;
    --generate-password-text: #FFFFFF;
    --text: #D5D4D8;
    --divisor-color: #2F3E53;
    --dark-btn-color: #273549;
    --dark-btn-text: #55F991;
}

[data-theme="light"] {
    --primary-color: #10B981;
    --main-container-color: #ECFDF5;
    --title: #111827;
    --text: #6B7280;
    --divisor-color: #D5D2D8;
    --dark-btn-text: #5DEF92;
}

body {
    font-family: Inter, sans-serif;
    background-color: var(--background-color);
    color: var(--text);
    letter-spacing: -0.2px;
}

.title {
    font-family: Karla, sans-serif;
    font-weight: 900;
    color: var(--title);
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: -1px;
}

.subtitle {
    margin: 10px 0;
    font-size: 1.25rem;
    font-weight: 400;
}

.title .highlight {
    display: block;
}

#main-container {
    background: var(--main-container-color);
    margin: 50px auto;
    padding: 100px 20px 10px 50px;
    max-width: 550px;
}

.highlight {
    color: var(--primary-color);
}

#generate-pw-btn {
    background-color: var(--secondary-color);
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    color: var(--generate-password-text);
    margin: 40px 0 35px 0;
    font-size: 1rem;
    font-weight: 500;
}

hr {
    height: 1px;
    background-color: var(--divisor-color);
    border: none;
    margin-bottom: 35px;
}

.pw-btn {
    width: 211px;
    height: 39px;
    margin-right: 24px;
    background-color: var(--dark-btn-color);
    color: var(--dark-btn-text);
    border: none;
    border-radius: 6px;
    margin-bottom: 115px;
}

#theme-toggle-btn {
    background-color: var(--dark-btn-color);
    color: white;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    position: absolute;
    bottom: 30px;
    right: 20px;
}